.container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding-left: max(var(--container-padding), env(safe-area-inset-left));
	padding-right: max(var(--container-padding), env(safe-area-inset-right));
}
